.eachCard{
    width: 100%;
    max-height: 300px;
    border: 2px dashed #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    text-align: left;
    background-color: #fff;
    color: #574b90;
    margin: 20px 0;
    padding: 10px 0;
}

.eachCard img{
    width: 70px;
    height: 70px;
}

.eachCard h3{
    width: 35%;
}

.eachCard span{
    width: 10%;
}

.buttons{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button{
    background-color: #fff;
    border: none;
    font-size: 1.5rem;
    color: #574b90;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.buttons button:hover{
    animation: wiggle 0.3s forwards;
    transform: scale(1.2);
    pointer-events: none;
}

.buttons:has(button:hover) button{
    pointer-events: auto;
}

.buttons button.animated{
    animation: none;
}

@keyframes wiggle {
    33%{
        transform:rotate(30deg);
    }
    66%{
        transform:rotate(-30deg);
    }
    100%{
        transform:rotate(0deg);
    }
}